---

import Footer from "@/components/footer.astro"
import Header from "@/components/header.astro"
import Metadata from "@/components/metadata.astro"
import Pagination from "@/components/pagination.astro"

import { ViewTransitions } from "astro:transitions"

interface Props {
  author: string
  description: string
  title: string
  slug?: string
}

const { author, title, description, slug } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <Metadata
      author={author}
      title={title}
      description={description}
      slug={slug}
    />
    <ViewTransitions />
  </head>
  <body class="bg-gray-placebo">
    <div class="container flex flex-col min-h-screen">
      <div class="rounded-lg border border-gray-colossus shadow-lg bg-white my-6">
        <Header />
        <div class="w-2/3 container mt-5 mb-6">
          <Pagination />
        </div>
        <article class="w-2/3 container">
          <h2 class="font-bold font-trebuchet text-xl text-gray-carbon">{title}</h2>
          <slot />
        </article>
        <Footer />
      </div>
    </div>
  </body>
</html>